.table {
    border-collapse: collapse;
    text-align: center;
}

.table-align-left {
    text-align: left;
}

.table-align-right {
    text-align: right;
}

.table td, .table th {
    border: 1px solid var(--grey-color2);
    padding: .8rem 1rem;
}

.table th {
    color: #fff;
    background-color: var(--main-color2);
}

.table-body tr {
    background-color: rgb(235, 235, 235);
}

.table-body tr:nth-child(even) {
    background-color: #fff;
}

.table-full {
    width: 100%;
}