.navbar {
    width: 100%;
    height: var(--header-height);
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 1.2rem 2rem;
}

.navbar-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-left h1 {
    padding-left: 1rem;
}

.navbar-icon {
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.5rem;
    color: var(--grey-color3);
}

.navbar-icon:hover {
    color: rgba(0, 0, 0, 0.8);
}

.navbar h1 {
    color: var(--dark-color1);
}

.navbar-dropdown {
    position: relative;
}

.navbar-dropdown-btn {
    border: none;
    background: none;
    padding: none;
}

.navbar-dropdown-content {
    position: absolute;
    background-color: var(--grey-color1);
    min-width: 10rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: .2s;
}

.navbar-dropdown-content a {
    color: var(--dark-color1);
    text-decoration: none;
    display: block;
    padding: 1rem 1.2rem;
}

.navbar-dropdown:hover .navbar-dropdown-content {
    opacity: 1;
    pointer-events: all;
}

.navbar-dropdown-content a:hover {
    background-color: #ddd;
}